@page
@model EssaysModel
@{
    ViewData["Title"] = "Essays";
}
<h2>@ViewData["Title"]</h2>

<p>I haven't uploaded any yet; why not check out some people who have:</p>

<ul>
    <li><a href="https://www.stilldrinking.org">Still Drinking</a> - aka The one who wrote Programming Sucks</li>
</ul>