@{
    ViewData["Title"] = "Essays";
}
<h2>@ViewData["Title"]</h2>

<p>I haven't uploaded any yet; why not check out some people who have:</p>

<h3>Software Development Blogs</h3>
<ul>
    <li><a href="https://blog.codinghorror.com">Coding Horror</a> - The first programming blog I followed in the dark days before Stack Overflow was created</li>
    <li><a href="https://devblogs.microsoft.com/oldnewthing/">The Old New Thing</a> - Raymond Chen details Windows quirks and compatability</li>
    <li><a href="https://www.hanselman.com">Scott Hanselman</a> -  Scott is a prolific teacher and speaker whose style has been a big influence</li>
    <li><a href="https://martinfowler.com">Martin Fowler</a> - A huge influence on my skills long before I knew of him</li>
    <li><a href="https://blog.cleancoder.com">Clean Code</a> - Robert C. Martin aka Uncle Bob</li>
</ul>

<h4>Individual Essays</h4>

<p>
    <a href="https://www.bloomberg.com/graphics/2015-paul-ford-what-is-code/">What Is Code?</a> is a long essay by Paul Ford that attempts to explain to everyone
    just what code is.  Required reading for anyone who needs to interact with developers in any context.
</p>

<h3>Human Development</h3>
<ul>
    <li><a href="https://www.stilldrinking.org">Still Drinking</a> - aka The one who wrote
    <a href="https://www.stilldrinking.org/programming-sucks">Programming Sucks</a></li>
    <li><a href="https://anildash.com">Anil Dash</a> - I don't remember how I came across Anil but his blog has a great perspective</li>
</ul>