@page
@model IndexModel
@{
    ViewData["Title"] = "CV";
}

<div>
    <h1>Ciaran Robertson</h1>
    <hr />

    <h2>Skills</h2>
    <p>
        Senior freelance developer with over 10 years experience with C# + .NET and strong communication and teamwork skills.  I have delivered projects following Agile manifesto and TDD to build systems using SOA, Microservice and Monolith designs on Cloud platforms including AWS and Azure as well as Self-Hosted systems.
    </p>
    <h2>Tech</h2>
    <p>
        C# and .Net Framework & .Net Core; T-SQL, Dapper and ORMs, REST WebAPI TDD & NUnit, CI with TeamCity and NuGet
    </p>
    <h2>Experience</h2>
    <div>
        <b>Dazed Media, London</b> - Lead Developer <br />
        July 2018 - November 2018
        <p>
            Dazed Media is the online presence of Dazed group with 3 major properties <a href="https://www.dazeddigital.com">Dazed</a>, <a href="https://www.anothermag.com">Another</a> and <a href="https://www.anothermanmag.com">AnotherMan</a>.
        </p>
        <ul>
            <li>I created and delivered a new micro-site <a href="https://www.dazeddigital.com/beauty">Dazed Beauty</a> on a in-house monolith ORM.</li>
            <li>Maintained 3 large consumer fashion & news brands on a common platform.</li>
            <li>Supported the editorial and growth teams to add capabilities and identify weaknesses to be improved.</li>
            <li>I worked with the owner and my manager to identify risks and create a roadmap to create a team that can support the goals of the business.</li>
        </ul>
        <p>
            Key Tech:<br />
            Azure, ASP MVC, C#, JS, NHibernate & Azure SQL, Ninject, TeamCity
        </p>
    </div>
    <div>
        <b>Gaydar (CPC Connect), London</b> - Senior Developer <br />
        March 2016 - June 2018
        <p>
            <a href="https://www.gaydar.net">Gaydar</a> is the oldest dating and social site for gay men with Web, Android and iOS support.
        </p>
        <ul>
            <li>I migrated a Classic ASP/ASP.NET Monolith to a new SOA system on AWS.</li>
            <li>Implemented OAuth Server & Client using MS Identity to provide SSO and Facebook login.</li>
            <li>Worked closely with our DBA to redesign and migrate the database to fully normalized and geospatially aware to allow fast location based searching.</li>
            <li>I integrated a vue.js real-time chat platform with MongoDB backend to allow users to communicate replacing a Flash & IRC based system.</li>
        </ul>
        <p>
            Key Tech:<br />
            AWS, ASP MVC, C#, JS, Dapper &amp; MS-SQL, StructureMap, TeamCity, Stripe &amp; Apple Pay
        </p>
    </div>
    <div>
        <b>Antycip Simulation, Oxfordshire</b> - Systems Engineer <br />
        June 2012 - September 2015
        <p>
            <a href="http://www.antycipsimulation.com">Antycip Simulation</a> is a simulation, analysis & modelling provider that develops and offers a wide range of independent platforms and services.
        </p>
        <ul>
            <li>I developed prototypes using APIs in C#, Java and C++.</li>
            <li>Provided training and support to customers of STK and Exata.</li>
            <li>I Created custom training courses including MATLAB and STK’s own script for new and advanced users.</li>
            <li>Represented the technology at trade shows and when visiting customer sites to support sales team.</li>
        </ul>
        <p>
            Key Tech:<br />
            Systems ToolKit (STK), Exata & Qualnet, C#, Java, C++, JS
        </p>
    </div>
    <div>
        <b>ttMobiles, Oxfordshire</b> - Developer <br />
        September 2011 - June 2012
        <p>
            Provider of mobile management and billing solutions.
        </p>
        <ul>
            <li>I maintained C#/ASP.NET MVC and WebForms applications for customer and internal use.</li>
        </ul>
        <p>
            Key Tech:<br />
            ASP WebForms, C#, MS-SQL
        </p>
    </div>
    <div>
        <b>xit2, Oxfordshire</b> - Developer <br />
        May 2010 - August 2011
        <p>
            Property data network for the mortgage industry.
        </p>
        <ul>
            <li>I worked on a Classic ASP/VB6 platform.</li>
        </ul>
        <p>
            Key Tech:<br />
            ASP, VB6
        </p>
    </div>
    <div>
        <b>The Property Helpline, Liverpool</b> - Developer & Administrator <br />
        2007 - 2009
        <p>
            Mortgage rescue and property management provider.
        </p>
        <ul>
            <li>I created and maintained Front & Back office websites in ASP.NET.</li>
            <li>Providing system administration and tech support to the company.</li>
        </ul>
        <p>
            Key Tech:<br />
            ASP WebForms, C#, PostgreSQL
        </p>
    </div>

    <h2>Education</h2>
    <p>
        <b>University of Liverpool</b> - Aerospace Engineering B.Eng<br />
        2005 - 2009
    </p>
</div>

